@use '../partials/colors' as c;

$primary: rgba(209, 118, 0, 0.362);
$secondary: lightblue;
$tertiary: rgb(127, 127, 206);
$menu-modal: rgba(0, 0, 0, 0.38);

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 100vh;

  .wallpaper {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  
  .menu-background {
    width: 100vw;
    height: 30px;
    background: linear-gradient(to right, $primary, rgba(209, 49, 0, 0.362), rgba(53, 12, 0, 0.673));
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(20px);
  }
  
  .menu-bar {
    display: flex;
    width: 100vw;
    height: 30px;
    justify-content: space-between;
    &__btns {
      display: flex;
      &__item {
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: none;
        font-size: 1.1em;
        padding: 0 20px 0 20px;;
        &--current-app {
          font-weight: 600;
        }
        &--apple-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
    &__modal {
      border: 1px solid rgba(196, 196, 196, 0.386);
      border-radius: 5px;
      background-color: $menu-modal;
      backdrop-filter: blur(100px);
      padding: 5px 0px 5px 10px;
      width: 372px;
      position: fixed;
      z-index: 10;
      top: 30.23px;
      -webkit-filter: drop-shadow(2px 2px 3px #00000037);
      filter: drop-shadow(2px 2px 3px #00000037);
      &__apple{
        display: none;
        left: 11px;
      }
      &__current-app {
        display: none;
        left: 73px;
      }
      &__file {
        display: none;
        left: 170px;
      }
      &__edit {
        display: none;
        left: 238px;
      }
      &__view {
        display: none;
        left: 308px;
      }
      &__go {
        display: none;
        left: 390px;
      }
      &__window {
        display: none;
        left: 452px;
      }
      &__help {
        display: none;
        left: 558px;
      }
      &__list {
        list-style: none;
        padding-left: 0;
        &__separator {
          border: 0.5px solid rgba(211, 211, 211, 0.323);
          height: 0px;
          width: 360px;
        }
        &__item {
          color: white;
          display: flex;
          justify-content: space-between;
          width: 360px;
          padding: 3px 0px 3px 0px;
          &--shortcut {
            color: rgba(211, 211, 211, 0.323);
          }
          &--gray {
            color: rgba(211, 211, 211, 0.323);
          }
          input {
            border: 0.01px solid rgba(211, 211, 211, 0.323);
            background-color: rgba(211, 211, 211, 0.323);
            border-radius: 5px;
            width: 360px;
            padding: 2px;
            color: lightgray;
            font-size: 1em;
          }
        }
      }
    }
    &__tray {
      display: flex;
      width: 240px;
      align-items: center;
      &__item {
        margin: 0 10px 0 10px;
        color: white;
        font-size: 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #clock {
        width: 150px;
      }
    }
  }

  .desktop {
    margin: 20px;
    height: 900px;
    width: 20%;
    display: flex;
    flex-direction: column;
    &__icon {
      height: 120px;
      width: 100px;
      margin: 10px 0 0 0;
      display: flex;
      align-items: center;
      flex-direction: column;
    
      &__img {
        height: 90px;
        width: 90px;
        -webkit-filter: drop-shadow(2px 2px 3px #00000037);
        filter: drop-shadow(2px 2px 3px #00000037);
      }
      &__big {
        height: 80px;
        width: 80px;
        -webkit-filter: drop-shadow(2px 2px 3px #00000037);
        filter: drop-shadow(2px 2px 3px #00000037);
      }
      &__name {
        font-size: 0.8em;
        color: white;
        -webkit-filter: drop-shadow(2px 2px 3px #00000037);
        filter: drop-shadow(2px 2px 3px #00000037);
      }
    }
  }

  .app-modal {
    position: fixed;
    z-index: 10;
    top: 6vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
    border-radius: 15px;
  }
  
  .dock-section {
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    .dock {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 660px;
      height: 80%;
      border: 1px solid rgba(128, 128, 128, 0.239);
      box-shadow: 2px 0px 25px 2px rgb(0, 0, 0, 0.25) ;
      background-color: rgba(128, 128, 128, 0.239);
      border-radius: 30px;
      backdrop-filter: blur(20px);
      &__app {
        height: 100%;
        width: 93px;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &__icon {
          height: 90%;
          width: 90%;
          -webkit-filter: drop-shadow(2px 2px 3px #00000037);
          filter: drop-shadow(2px 2px 3px #00000037);
        }
        &__big {
          height: 80%;
          width: 80%;
          padding: 6px;
          -webkit-filter: drop-shadow(2px 2px 3px #00000037);
          filter: drop-shadow(2px 2px 3px #00000037);
        }
        &__dot {
          &--app-open {
            height: 6px;
            width: 6px;
            background-color: lightgray;
            border-radius: 50%;
            position: fixed;
            bottom: 1px;
          }
        }
      }
      &__separator {
        height: 80%;
        width: 0.6px;
        background-color: rgba(128, 128, 128, 0.94);
        margin: 20px;
      }
    }
  }
}



